/*   38 KEY MATRIX / LAYOUT MAPPING

    ╭──────────────────────┬─────────────────────╮
    │  LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
 ╭──╯  LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 ╰───╮
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰──────────╮  LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
            ╰──────────────┴─────────────╯
*/

#define COMBO_TERM_FAST     36
#define COMBO_TERM_MEDIUM   44
#define COMBO_TERM_SLOW     60

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Horizontal combos - left hand */
ZMK_COMBO(esc,   &kp ESC,      LT4 LT3,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)
ZMK_COMBO(tab,   &kp TAB,      LT3 LT2,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)

ZMK_COMBO(lbrc,  &kp LBKT,     LM3 LM2,     BASE     NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)
ZMK_COMBO(rbrc,  &kp RBKT,     LM2 LM1,     BASE     NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)

ZMK_COMBO(cundo,  undo,        LB4 LB3,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)
ZMK_COMBO(credo,  redo,        LB0 LB1,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_FAST)
ZMK_COMBO(ccut,   cut,         LB3 LB1,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(ccopy,  copy,        LB3 LB2,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(cpaste, paste,       LB2 LB1,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)

/* Vertical combos - left hand */
ZMK_COMBO(at,    &kp AT,       LT3 LM3,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(hash,  &kp HASH,     LT2 LM2,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(dllr,  &kp DLLR,     LT1 LM1,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prcnt, &kp PRCNT,    LT0 LM0,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(bslh,  &kp BSLH,     LM2 LB2,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lequal,&kp EQUAL,    LM1 LB1,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tilde, &kp TILDE,    LM0 LB0,     BASE NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Horizontal combos - right hand */
ZMK_COMBO(bspc,  &kp BSPC,     RT1 RT2,     BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(del,   &kp DEL,      RT2 RT3,     BASE NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lpar,  &lpar_lt,     RM1 RM2,     BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar,  &rpar_gt,     RM2 RM3,     BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(excl,  &kp EXCL,     RB3 RB4,     BASE     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - right hand */
ZMK_COMBO(caret, &kp CARET,    RT0 RM0,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(plus,  &kp PLUS,     RT1 RM1,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(star,  &kp STAR,     RT2 RM2,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(amps,  &kp AMPS,     RT3 RM3,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)

ZMK_COMBO(under, &kp UNDER,    RM0 RB0,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(minus, &kp MINUS,    RM1 RB1,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(grave, &kp GRAVE,    RM2 RB2,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe,  &kp PIPE,     RM3 RB3,     BASE NAV NUM, COMBO_TERM_MEDIUM, COMBO_IDLE_SLOW)
